@import url(../fonts/RedHatDisplay;/stylesheet.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.section-title {
  position: relative;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #646464;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: capitalize;
}

.section-title:hover {
  color: #8643DC;
}

.section-title::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #8643DC;
}

.section-subtitle {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #25202F;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.row > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.header {
  width: 100%;
  position: absolute;
  padding-top: 60px;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar__logo {
  margin-right: 108px;
}

.header .navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .nav__item {
  margin-right: 20px;
  list-style: none;
}

.header .navbar .nav__item:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .navbar .nav__item .nav__link {
  text-decoration: none;
  text-transform: capitalize;
  color: #646464;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.header .navbar .nav__item .nav__link:hover {
  color: #000;
}

.home {
  padding-top: 46px;
}

.home .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__text {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #25202F;
}

.home__text:first-child {
  padding-top: 182px;
}

.home__title {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120%;
  color: #25202F;
  margin-top: 18px;
  margin-bottom: 11px;
}

.home__btn {
  background: #8643DC;
  border-radius: 100px;
  border: none;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
  padding: 10px 50px;
}

.home__btn:hover {
  cursor: pointer;
}

.home__btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services {
  padding-bottom: 100px;
}

.services .wrapper__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .wrapper__title img {
  margin-right: 20px;
}

.portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 133, 255, 0.14)), to(rgba(255, 177, 222, 0.14)));
  background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
  padding-top: 50px;
  padding-bottom: 68px;
}

.portfolio__title {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #25202F;
  margin-bottom: 30px;
}

.portfolio__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__link {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  text-transform: capitalize;
}

.portfolio__link:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio__img {
  width: 100%;
}

.portfolio .tl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients {
  padding-top: 100px;
  padding-bottom: 100px;
}

.clients .wrapper {
  width: 170px;
  height: 170px;
  text-align: center;
  padding-top: 33px;
  border-radius: 10px;
}

.clients .wrapper.slack {
  background-color: #FFF7FA;
}

.clients .wrapper.medium {
  background-color: #EDFFF5;
}

.clients .wrapper.microsoft {
  background-color: #F5FCFF;
}

.clients .wrapper.zeplin {
  background: #FFFBF2;
}

.clients .wrapper.shopify {
  background: #F4FFED;
}

.clients .wrapper p {
  margin: 30px 0 0;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
}

.testimonials {
  padding: 50px 0 100px;
}

.testimonials__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials .wrapper {
  position: relative;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  min-height: 100%;
}

.testimonials .wrapper img {
  position: absolute;
}

.testimonials .man-bottom {
  bottom: 0;
  right: 0;
}

.testimonials .right-man-top {
  right: 0;
  top: 0;
}

.testimonials .right-man-bottom {
  left: 0;
  bottom: 0;
}

.testimonials .center {
  width: 100%;
  text-align: center;
}

.testimonials .center p:nth-child(2) {
  margin: 20px 0 50px;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
}

.testimonials .center h3 {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0 5px;
}

.blog {
  padding-top: 100px;
  padding-bottom: 120px;
}

.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.blog img {
  width: 100%;
}

.blog__card {
  min-width: 255px;
  width: 255px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  padding: 0 20px 30px;
}

.blog__card:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), to(#25202F)), url(../images/blog/img-2.png);
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #25202F 100%), url(../images/blog/img-2.png);
}

.blog__card:nth-of-type(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), to(#25202F)), url(../images/blog/img-3.png);
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #25202F 100%), url(../images/blog/img-3.png);
}

.blog__card p {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
}

.blog__card div {
  position: relative;
}

.blog__card h3 {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
}

.contact {
  padding-top: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-8.54%, rgba(187, 133, 255, 0.166)), to(rgba(255, 244, 251, 0.2)));
  background: linear-gradient(180deg, rgba(187, 133, 255, 0.166) -8.54%, rgba(255, 244, 251, 0.2) 100%);
}

.contact__btn {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #8643DC;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.contact__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #A8A0B0;
  margin-bottom: 45px;
  padding: 17px;
}

.btn-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.footer__img {
  margin: 0 auto;
  width: 230px;
  height: 50px;
}

.footer__text {
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #21232D;
}

.footer {
  padding-bottom: 50px;
}

.footer img {
  width: 50px;
}

@media (min-width: 0) and (max-width: 576px) {
  .header {
    padding: 0 15px;
  }
  .header .navbar {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    padding-bottom: 100px;
    display: none;
  }
  .header .navbar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
  }
  .header .navbar__logo {
    margin-right: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .header .navbar__nav {
    padding: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .navbar .nav__item {
    margin-right: 0;
    margin-top: 20px;
  }
  .header .navbar .nav__item .nav__link {
    font-size: 30px;
  }
  .header .burger {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 30px;
    border-radius: 50%;
    border: 2px solid #000;
  }
  .header .burger .line {
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    top: 13px;
    left: 8px;
    width: 10px;
    height: 2px;
    background-color: #8543dc;
  }
  .header .burger .line::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8543dc;
  }
  .header .burger .line::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8543dc;
  }
  .home {
    padding: 0 15px;
    height: 100vh;
  }
  .home .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home .col {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0;
  }
  .home .col:last-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .home__text {
    text-align: center;
    font-size: 100%;
  }
  .home__text:first-child {
    padding-top: 0;
  }
  .home__btn {
    display: block;
    margin: 0 auto;
  }
  .home__title {
    text-align: center;
    font-size: 100%;
  }
  .home__avatar {
    width: 100%;
    padding-top: 100px;
  }
  .services {
    padding: 0 15px;
  }
  .services .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .portfolio {
    padding: 0 15px;
    padding-top: 50px;
    padding-bottom: 68px;
  }
  .portfolio .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .clients {
    padding: 100px 15px;
  }
  .clients .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonials .wrapper {
    display: none;
  }
  .blog {
    padding: 50px 15px;
  }
  .blog__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */