.footer__flex {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.footer__img {
    margin: 0 auto;
    width: 230px;
    height: 50px;
}

.footer__text {
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #21232D;
}

.footer {
    padding-bottom: 50px;

    img {
        width: 50px;
    }
}