.section-title {
    position: relative;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgb(100, 100, 100);
    margin: 0;
    user-select: none;
    text-transform: capitalize;

    &:hover {
        color: #8643DC;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 50px;
        height: 2px;
        background-color: #8643DC;
    }
}

.section-subtitle {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    display: inline-block;
    user-select: none;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.row>* {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.col {
    flex: 1 0 0%;
}